/* Fonts */

@font-face {
    font-family: 'airbnbcereal_w_bkregular';
    src: url('../fonts/airbnbcereal_w_bk-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal_w_bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'airbnbcereal_w_bluploadedfile';
    src: url('../fonts/airbnbcereal_w_blk-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal_w_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  --ratio: 3.74;
  --confirm-color: rgb(0, 102, 254);
  --light-color-bg: rgb(238, 241, 247);
  --dark-color-bg: rgb(55, 65, 81);
  --grey-color: rgb(107, 114, 128);
  --leading: 0.025em;
  --blue-color-bg: rgb(96, 132, 215);
  --lime-color: rgb(156, 236, 91);
  --button-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
}

body {
    font-family: "airbnbcereal_w_bkregular", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blue-color-bg);
}

/* Table styling from MDN */

  h2 {
    font-weight: 800;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
  }

  p {
    color: var(--grey-color);
    letter-spacing: var(--leading, 0.025em);
    line-height: 1.625;
  }

  dialog button {
    display: block;
    margin-top: 2rem;
    width: calc(44px * var(--ratio));
    height: 44px;
    border-radius: calc(3px * var(--ratio));
    border: none;
    letter-spacing: calc(3 * var(--leading, 0.025em));
    color: var(--grey-color);
    background-color: var(--light-color-bg);
    font-family: inherit;
    font-size: large;
    font-weight: 700;
  }

  dialog button:focus {
    outline: none;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
  }


  .container{
    margin: 0 auto;
    width: 1100px;
    max-width: 100vw;
    padding: 0 2rem;
  }

  dialog {
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 600px;
    margin: 2rem auto;
  }

  .form-wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  dialog p{
    margin: 0.5rem 0;
  }

  .form-item{
    width: 40%;
  }

  .form-item label {
    font-weight: bold;
  }

  .form-item > input, dialog textarea, .form-item > .radio{
    border-radius: calc(3px * var(--ratio));
    outline: none;
    border: transparent solid 1px;
    background-color: var(--light-color-bg);  
    font-size: medium;
    padding: 0.3rem 0.5rem;
    height: 40px;
  }

  .form-item > input:focus, dialog textarea:focus{
    border: var(--grey-color) solid 1px;
  }

  input::placeholder{
    opacity: 0.3;
  }

  .form-item > input:user-invalid{
    border: red solid 1px;
  }

  div.form-buttons{
    display: flex;
    width: 80%;
    margin-left: -16px;
    justify-content: space-between;
    align-items: center;
  }

  .form-buttons button{
    margin: 8px auto;
  }

  button.confirm {
    background-color: var(--confirm-color);
    color: white;
  }

  button.confirm:focus {
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--confirm-color);
  }

  .show-modal{
  display: block;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: none;
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  font-weight: 700;
  margin: 2rem auto;
}

input:user-invalid + .error::before{
  content: "Enter field.";
  display: block;
  height: 12px;
  font-family: inherit;
  font-size: x-small;
  letter-spacing: calc(3 * var(--leading, 0.025em));
  border-radius: calc(3px * var(--ratio));
  color: red;
}

input:user-invalid + .error.number::before{
  content: "value must be equal or less then 9999";
  font-family: inherit;
}

.remove-book{
  margin: 0;
  width: 100px;
  font-size: 90%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 16px;
  row-gap: 12px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 16px;
  border-left: 12px solid var(--lime-color);
  height: 300px;
  border-radius: 12px;
  background-color: var(--light-color-bg);
  overflow: hidden;
}

.card p {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 1.5em;
  max-height: 9em; /* 3 lines * line-height */
}

.card-buttons{
  display: flex;
  justify-content: end;
  align-items: center;
}

.card-buttons button{
  background-color: inherit;
  border: solid 1px transparent;
}

.card-buttons button:active {
  box-shadow: var(--button-shadow);
}

.card-buttons button:focus{
  border: 0.0625rem solid transparent;
}

dialog .text-area{
  flex: 0.75 0 auto;
  height: 110px;
  padding: 0 0 16px 7px;
}
dialog textarea{
  width: 95%;
  height: 100%;
  resize: none;
}


.author h4{
  display: inline;
}

.author span{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 4.5em;
  font-size: 90%;
  color: black;
  letter-spacing: var(--leading, 0.025em);
}

.form-item > div.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 90%;
  width: 194.176px;
}
.form-item input{
  vertical-align: -2px;
}

